/*Start News Workflow Dashboard*/
.dashboard-workflow-container-news .nav-tabs{
    list-style: none;
    border: none;
    margin-bottom: 0;
}
.dashboard-workflow-container-news .nav-tabs li{
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    height: auto !important;
}
.meliscmsnews-dashboard-workflow .dashboard-widget-workflow{
    max-height: 287px;
    overflow-y: auto;
}
.meliscmsnews-dashboard-workflow .widget-activity ul.list li:hover{
    background: transparent;
    cursor: default;
}
.meliscmsnews-dashboard-workflow .widget-activity ul.list li:hover .wd-btn-cont{
    display: block;
}
.meliscmsnews-dashboard-workflow .widget-activity ul.list li:hover:after{
    content: "";
}
.meliscmsnews-dashboard-workflow .widget-body ul.list li{
    padding: 11px 0 6px 15px;
    position: relative;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li:hover{
    cursor: pointer;
    background: #f2f2f2;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li i{
    cursor: pointer;
    padding: 13px 10px;
    color: #B9B8B8;
    font-size: 15px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li span:last-child i{
    padding-right: 15px;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li span.fa-arrow-down{
    float: left;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
    color: #B9B8B8;
    font-weight: 300;
    font-size: 15px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li i.fa-eye{
    font-size: 16px;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li p{
    margin: 0;
}
.dashboard-workflow-tabs-news .dashboard-widget-workflow ul.list li .wd-cont-content{
    display: none;
    padding-top: 10px;
}
.dashboard-workflow-container-news .nav-tabs li > a{
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    border-radius: 0;
    background: #ECEBEB;
    color: #7D7B7B;
}
.dashboard-workflow-container-news .nav-tabs li > a:hover{
    text-decoration: none;
}
.dashboard-workflow-container-news .nav-tabs li > a > i{
    margin-right: 5px;
}
.dashboard-workflow-container-news .nav-tabs > li.active > a, 
.dashboard-workflow-container-news .nav-tabs > li.active > a:focus, 
.dashboard-workflow-container-news .nav-tabs > li.active > a:hover{
    background: #72af46;
    color :#fff;
    box-shadow: none;
    border: none;
    text-decoration: none;
    font-weight: normal;
}

.wd-info-cont{
    margin: 0px 5px 5px 0;
}
.wd-cont span{
    color: #7D7B7B;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}
.wd-cont span span{
    background: #ECEBEB;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
}

.wd-bg-red{
    background: #cb4040;
}
.wd-btn-cont{
    display: inline-block;
    position: absolute;
    right: 0; 
    top: 0;
    height:100%;
    width: auto;
    display: none;
}
.wd-btn-cont span{
    width: 40px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    background: #ECEBEB;
    color: #7D7B7B;
    padding: 0 10px;
    font-weight: bold;
    font-size: 11px;
    float: left;
    cursor: pointer;
}
.wd-btn-cont span:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.wd-btn-cont span i{
    font-size: 16px;
    vertical-align: middle;
}
.wd-btn-cont span:hover{
    opacity: .8;
}
.wd-cont .wd-action-demand{
    background: #3687C1;
    color: #fff;
}
.wd-btn-cont .wd-validate,
.wd-cont .wd-action-validate{
    background: #72af46;
    color: #fff;
}
.wd-btn-cont .wd-refuse,
.wd-cont .wd-action-refuse{
    background: #cb4040;
    color: #fff;
}

.d-workflow-action-cont{
    position: absolute;
    right: 0;
    height: 42px;
    top: -12px;
    z-index: 10;
}
.d-workflow-action-cont .wd-action-refuse,
.d-workflow-action-cont .wd-action-validate{
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
}

/*End News Workflow Dashboard*/

#workflowCommentModalNews .modal-header .modal-title {
  color: #fff;
  height: auto;
  line-height: 100%;
}

.workflow-modal-content-news .wmc-content{
    border-bottom: 1px solid #eee;
    padding: 0 0 20px;
}
.workflow-modal-content-news .wmc-content.wmc-header > span,
.workflow-modal-content-news .wmc-content > span:first-child{
    background-color: #e61c23;
    padding: 8px 15px;
    color: #fff;
}

.workflow-modal-content-news .wmc-content > span:first-child span.r-caption{
    color: #fff;
}
.workflow-modal-content-news .wmc-content:last-child{
    border-bottom: none;
}
.workflow-modal-content-news .wmc-content > span{
    padding: 6px 15px;
    font-weight: bold;
    font-size: 12px;
    color: #ABABAB;
    display: block;
    text-transform: uppercase;
    margin: 0px 0 6px;
}
.workflow-modal-content-news .wmc-header{
    background: #e61c23;
    display: none;
}

.wmc-content .wmc-action-validated{
    background: #72af46;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
}
.wmc-content .wmc-action-refused{
    background: #cb4040;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
}
.wmc-content .wmc-action-asking{
    color: #fff;
    background: #3687C1;
    padding: 4px 12px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
}


/* workflow in pages - modal */
.workflow-modal-cont-news .modal-dialog{
    background: #fff;
    border-radius: 3px;
}
.workflow-modal-content-news{
    max-height: 367px;
    overflow-y: auto;
}
.workflow-modal-cont-news .pw-title{
    background: #e61c23;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.workflow-modal-cont-news .modal-header{
    padding: 15px 10px;
}
/* disabled workflow button*/
.workflow-modal-cont-news .wbtn-cont .btn-default{
    border-color: #3687C1;
    color: #3687C1;
}
.workflow-modal-cont-news .wbtn-cont .btn-default:hover{
    background: #3687C1;
    color: #fff;
}
.workflow-modal-cont-news .wbtn-cont .pw-disabled-btn,
.workflow-modal-cont-news .wbtn-cont .pw-disabled-btn:hover{ 
    background: #e7e7e7;
    border-color: #e7e7e7;
    color: #797979;
    cursor: initial;
}

/* additional css definition for jQuery latest version update 3.4.1 */
.workflow-modal-cont-news .modal-header .wbtn-cont,
.workflow-modal-cont-news .modal-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.workflow-modal-cont-news .wbtn-cont a{
    border-radius: 0 !important;
    display: inline-block;
    margin:5px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.workflow-modal-cont-news .workflow-content{
    padding: 15px;
}
.modal .workflow-modal-cont-news .modal-footer button{
    float: none;
}

.w-asktovalidate-cont-news{
    display: none;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.wrequest-notif{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #99c975;
}
.wrequest-notif span{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3px;
    word-spacing: 1px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.w-asktovalidate-cont-news > a{
    width: 260px;
    margin: 0 0 10px 0;
    height: 33px;
    vertical-align: top;
}

.pw-users,
.pw-roles{
    width: 130px;
    margin: 10px 0;
    background: #ECEBEB;
    border-radius: 4px;
    position: relative;
    display: inline-block;
}
.pw-users .dropdown-menu,
.pw-roles .dropdown-menu{
    max-height: 300px;
    min-width: 165px;
    overflow-y: auto;
}
.pw-users > a,
.pw-roles > a{
    height: 34px;
    display: block;
    color: #878787;
    padding: 8px 12px;
    text-align: left;
    
}
.pw-users .dropdown-menu li a,
.pw-roles .dropdown-menu li a{
    height: 34px;
    line-height: 28px;
    cursor: pointer;
}
.filter-cont > a {
    white-space: nowrap;
}
.filter-cont > a > i {
    padding-right: 10px;
    margin-top: 4px;
    float: left;
}
.filter-cont a span.filter-key {
    overflow: hidden;
    width: 105px;
    display: inline-block;
}
/* additional definition for jQuery latest version update 3.4.1 */
.filter-cont .dropdown-toggle::after {
    display: none;
}
.pw-users a:hover,
.pw-users a:focus,
.pw-roles a:focus,
.pw-roles a:hover{
    text-decoration: none;
}
.pw-users a .caret,
.pw-roles a .caret{
    position: absolute;
    right: 12px;
    top: 17px;
}


/*  ============================================= --=[ RESPONSIVE ]=-- ============================================================================ */
@media ( max-width: 991px ) {
    .d-workflow-action-cont {
        position: relative;
        float: right;
    }
}
@media ( min-width: 510px ) {   
    .workflow-modal-content-news .wmc-header{
        display: block;
    }
    .workflow-modal-content-news .wmc-content:not(.wmc-header) > span:first-child{
        background: #fff;
        color: #ABABAB;
    }
    .workflow-modal-content-news .wmc-header > span:nth-child(3),
    .workflow-modal-content-news .wmc-content > span:nth-child(3){
        width: 20%;
    }
    .workflow-modal-content-news .wmc-header > span:last-child,
    .workflow-modal-content-news .wmc-content > span:last-child{
        width: 20%;
    }
    .workflow-modal-content-news .wmc-content > span{
        height: 54px;
        border-right: 1px solid #DCD8D8;
        float: left;
        padding: 8px 5px;
        width: 20%;
        line-height: 38px;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
    }
    .workflow-modal-content-news .wmc-content > span:after{
        content: "";
        display: inline-block;
        vertical-align: middle;  /* Align inline level elements vertically */
        height: 100%;
    }
    
    .workflow-modal-content-news .wmc-content{
        padding: 0;
    }
    .workflow-modal-content-news .wmc-content .wmc-date{
        display: inline-block;
        line-height: normal;
        white-space: normal;
    }
    .w-asktovalidate-cont-news > a{
        width: 130px;
        margin: 10px 0 10px 10px;
    }
    .workflow-modal-content-news .wmc-header span{
        height: auto;
        color: #fff;
        line-height: normal;
        border-right: 1px solid #AD6565;
    }
    .r-caption{
        display: none;
    }    
}

@media ( min-width: 768px ) {
    
    .workflow-modal-content-news .wmc-content > span{
        width: 20%;
    }
    #newsWorkflowModal .modal-dialog{
        width: 700px;
        max-width: 700px;
    }   

    .pw-users,
    .pw-roles{
        width: 165px;
    }
    .workflow-modal-cont .wbtn-cont a{
        width: 150px;
    }
    .w-asktovalidate-cont-news > a{
        width: 165px;
    }
    .workflow-modal-content-news .wmc-content > span{
        padding: 8px 5px 10px 8px;
    }   
}   

@media ( min-width: 1200px ) {
    
    #newsWorkflowModal .modal-dialog{
        width: 900px;
        max-width: 900px;
    }
}